# Dependencies
node_modules/

# Build output
dist/
dist-ssr/
dev-dist/

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

.vercel
